.carousel_img--cierre_basico{
    background-image: url('/images/cierre_basico.png') !important;
}

.carousel_img--cierre_malla{
    background-image: url('/images/cierre_malla.png') !important;
}

.carousel_img--cierre_frontis{
    background-image: url('/images/cierre_frontis.png') !important;
}
